In [2]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [3]:
assets = ['TSLA', 'MSFT', 'GOOG', 'PFE', 'AAPL', 'AMZN', 'SPY', 'ICLN', 'XOM', 'WBA']

In [7]:
for asset in assets:
    yahoo_financials = YahooFinancials(asset)
    data = yahoo_financials.get_historical_price_data(start_date='2010-01-01', end_date='2020-07-01', time_interval='daily')
    df = pd.DataFrame(data[asset]['prices'])
    df = df.drop('date', axis=1).set_index('formatted_date')
    Path = f'unmodified/{asset}'
    df.to_csv(Path)

In [8]:
df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2010-01-04,37.299999,36.639999,37.009998,37.299999,8171000,28.084206
2010-01-05,37.160000,36.619999,37.099998,37.000000,10843200,27.858330
2010-01-06,37.290001,35.919998,36.160000,36.720001,8945400,27.647511
2010-01-07,37.000000,36.470001,36.689999,36.939999,5040700,27.813150
2010-01-08,37.070000,36.650002,36.919998,36.990002,6139800,27.850805